################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/TestOpenVR/bin/Debug
/TestOpenVR/obj
